body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

input {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: teal;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: darkcyan;
}
